@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<div>
    <img src="~/Content/foto.jpg" align="left" width="120" height="200">
</div>
<div>
    <h3>EDUCATION</h3>
    <p>
        <h5>  1999-2004 Mustafa Kemal İlkokulu / KAYSERİ </h5>
        <h5>  2004-2007 Kozan Ortaokulu / ADANA</h5>
        <h5>  2007-2011 Yusuf Baysal Anadolu Lisesi / ADANA</h5>
        <h5>  2011-2016 Yıldırım Beyazıt Universitesi /ANKARA</h5>
    </p>

    <h3></h3>
   

</div>

