@{
    ViewBag.Title = "Contact";
}



<address>
    In the below list is my contact information<br/>
    
    Address:Etlik/Keçiören ANKARA<br/>
    Phone Number:0045044585 <br/>
    Phone Number:0045044585 <br/>
    E-mail: karabulut.melike@gmail.com<br/>

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>