@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>welcome to my first blog</h1>
    <p class="lead">Melike Karabulut</p>
 
        <img src="~/Content/welcome.jpg" align="left" width="1100" height="300">
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>You Are In Melikes' Blog:) </h2>
     
        
    </div>
    <div class="col-md-4">
        <h2>Get more information </h2>
        <p>Do you want to know some information about the author?</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/melike.karabulut.790">See In Facebook &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>if you interest how to blog,read it!</h2>
        
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/overview/getting-started/introduction/getting-started">Learn more &raquo;</a></p>
    </div>
</div>